<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administrador de tareas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="section-1">
                <h3>Nueva tarea:</h3>
                <input type="text">
                <button>enviar</button>
            </div>
            <div class="section-2">
                <h3>Tareas pendientes:</h3>
                <div class="homework">
                    <div class="content-2">
                        <p>nombre de la tarea</p>
                        <button>cancelar</button>
                        <button>realizar</button>
                    </div>    
                </div>
                <div class="homework">
                    <div class="content-2">
                        <p>nombre de la tarea</p>
                        <button>cancelar</button>
                        <button>realizar</button>
                    </div>    
                </div>
            </div>
            <div class="section-3">
                <p>tareas finalizadas:</p>
                <div class="work-f">
                    <p>nombre de la tarea</p>
                </div>
                <div class="work-f">
                    <p>nombre de la tarea</p>
                </div>
                <div class="work-f">
                    <p>nombre de la tarea</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>